In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("C:/Users/patel/Downloads/house_prices.csv/house_prices.csv")

In [7]:
df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN

In [8]:
df.isnull().sum()

Index                     0
Title                     0
Description            3023
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
Dimensions           187531
Plot Area            187531
dtype: int64

In [9]:
title = list(df['Title'])
New_title = []
Final_Title = []

for i in range (len(title)):  
    New_title.append(title[i].split()[0])
    
for i in New_title:
    if i in ['Studio','Apartment','Builder','>']:
        Final_Title.append(np.nan)
    else:  
        Final_Title.append(i)
        
df['Title [BHK]'] = pd.DataFrame(Final_Title)

df.drop(['Title'],axis=1,inplace=True)
df.head(5)

,Index,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,...,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area,Title [BHK]
0,0,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,...,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN,1
1,1,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,...,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN,2
2,2,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,...,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN,2
3,3,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,...,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,1
4,4,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,...,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN,2

In [10]:
df['Title [BHK]'].unique()

array(['1', '2', '3', '4', '5', nan, '6', '8', '7', '9', '10'],
      dtype=object)

In [11]:
df.drop(['Index'],axis=1,inplace=True)
df.head(10)

,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area,Title [BHK]
0,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN,1
1,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN,2
2,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN,2
3,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,1
4,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN,2
5,Creatively planned and constructed is a 1 BHK ...,45 Lac,6618.0,thane,NaN,Ready to Move,2 out of 7,Resale,Unfurnished,East,"Garden/Park, Main Road",Virat Aangan,1,1,NaN,Co-operative Society,680 sqft,NaN,NaN,1
6,This magnificent 1 BHK Flat is available for s...,16.5 Lac,2538.0,thane,550 sqft,Ready to Move,4 out of 5,Resale,Unfurnished,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,1
7,Creatively planned and constructed is a 1 BHK ...,60 Lac,10435.0,thane,NaN,Ready to Move,Ground out of 7,Resale,Furnished,NaN,NaN,NaN,1,NaN,NaN,NaN,575 sqft,NaN,NaN,1
8,Discover this immaculate 1 BHK flat for sale a...,60 Lac,10000.0,thane,NaN,Ready to Move,Ground out of 2,Resale,Furnished,NaN,NaN,NaN,1,NaN,NaN,Co-operative Society,600 sqft,NaN,NaN,1
9,One can find this stunning 3 BHK flat for sale...,1.60 Cr,11150.0,thane,900 sqft,Ready to Move,3 out of 27,Resale,Unfurnished,East,Garden/Park,Pride Palms,3,1,1 Covered,Freehold,NaN,NaN,NaN,3

In [12]:
df['Title [BHK]'].describe()

count     186578
unique        10
top            3
freq       80848
Name: Title [BHK], dtype: object

In [13]:
df.isnull().sum()

Description            3023
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
Dimensions           187531
Plot Area            187531
Title [BHK]             953
dtype: int64

In [14]:
df.drop(['Description'],axis=1,inplace=True)

In [15]:
df.head()

,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area,Title [BHK]
0,42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN,1
1,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN,2
2,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN,2
3,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,1
4,1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN,2

In [16]:
df.drop(['Price (in rupees)'],axis=1,inplace=True)
df.head()

,Amount(in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area,Title [BHK]
0,42 Lac,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN,1
1,98 Lac,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN,2
2,1.40 Cr,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN,2
3,25 Lac,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,1
4,1.60 Cr,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN,2

In [17]:
df.location.unique()

array(['thane', 'navi-mumbai', 'nagpur', 'mumbai', 'ahmedabad',
       'bangalore', 'chennai', 'gurgaon', 'hyderabad', 'indore', 'jaipur',
       'kolkata', 'lucknow', 'new-delhi', 'noida', 'pune', 'agra',
       'ahmadnagar', 'allahabad', 'aurangabad', 'badlapur', 'belgaum',
       'bhiwadi', 'bhiwandi', 'bhopal', 'bhubaneswar', 'chandigarh',
       'coimbatore', 'dehradun', 'durgapur', 'ernakulam', 'faridabad',
       'ghaziabad', 'goa', 'greater-noida', 'guntur', 'guwahati',
       'gwalior', 'haridwar', 'jabalpur', 'jamshedpur', 'jodhpur',
       'kalyan', 'kanpur', 'kochi', 'kozhikode', 'ludhiana', 'madurai',
       'mangalore', 'mohali', 'mysore', 'nashik', 'navsari', 'nellore',
       'palakkad', 'palghar', 'panchkula', 'patna', 'pondicherry',
       'raipur', 'rajahmundry', 'ranchi', 'satara', 'shimla', 'siliguri',
       'solapur', 'sonipat', 'surat', 'thrissur', 'tirupati', 'trichy',
       'trivandrum', 'udaipur', 'udupi', 'vadodara', 'vapi', 'varanasi',
       'vijayawada', 'visakhapatnam', 'vrindavan', 'zirakpur'],
      dtype=object)

In [18]:
frequency_map = df['location'].value_counts(normalize=True).to_dict()
frequency_map
df['location_freq_encoded'] = df['location'].map(frequency_map)
df

,Amount(in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area,Title [BHK],location_freq_encoded
0,42 Lac,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN,1,0.010308
1,98 Lac,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN,2,0.010308
2,1.40 Cr,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN,2,0.010308
3,25 Lac,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,1,0.010308
4,1.60 Cr,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN,2,0.010308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187526,63 Lac,zirakpur,NaN,Ready to Move,2 out of 4,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,1953 sqft,NaN,NaN,3,0.008159
187527,55 Lac,zirakpur,NaN,Ready to Move,4 out of 6,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,1680 sqft,NaN,NaN,3,0.008159
187528,76 Lac,zirakpur,1250 sqft,Ready to Move,1 out of 3,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,NaN,NaN,NaN,3,0.008159
187529,30 Lac,zirakpur,NaN,Ready to Move,2 out of 2,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,709 sqft,NaN,NaN,2,0.008159
187530,1.18 Cr,zirakpur,NaN,Ready to Move,5 out of 13,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1915 sqft,NaN,NaN,3,0.008159

In [19]:
df1 = pd.concat([df],axis=1)
df1

,Amount(in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area,Title [BHK],location_freq_encoded
0,42 Lac,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN,1,0.010308
1,98 Lac,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN,2,0.010308
2,1.40 Cr,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN,2,0.010308
3,25 Lac,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,1,0.010308
4,1.60 Cr,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN,2,0.010308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187526,63 Lac,zirakpur,NaN,Ready to Move,2 out of 4,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,1953 sqft,NaN,NaN,3,0.008159
187527,55 Lac,zirakpur,NaN,Ready to Move,4 out of 6,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,1680 sqft,NaN,NaN,3,0.008159
187528,76 Lac,zirakpur,1250 sqft,Ready to Move,1 out of 3,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,NaN,NaN,NaN,3,0.008159
187529,30 Lac,zirakpur,NaN,Ready to Move,2 out of 2,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,709 sqft,NaN,NaN,2,0.008159
187530,1.18 Cr,zirakpur,NaN,Ready to Move,5 out of 13,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1915 sqft,NaN,NaN,3,0.008159

In [20]:
df1.drop(['location'],axis=1,inplace=True)

In [21]:
df1

,Amount(in rupees),Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area,Title [BHK],location_freq_encoded
0,42 Lac,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN,1,0.010308
1,98 Lac,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN,2,0.010308
2,1.40 Cr,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN,2,0.010308
3,25 Lac,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,1,0.010308
4,1.60 Cr,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN,2,0.010308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187526,63 Lac,NaN,Ready to Move,2 out of 4,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,1953 sqft,NaN,NaN,3,0.008159
187527,55 Lac,NaN,Ready to Move,4 out of 6,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,1680 sqft,NaN,NaN,3,0.008159
187528,76 Lac,1250 sqft,Ready to Move,1 out of 3,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,NaN,NaN,NaN,3,0.008159
187529,30 Lac,NaN,Ready to Move,2 out of 2,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,709 sqft,NaN,NaN,2,0.008159
187530,1.18 Cr,NaN,Ready to Move,5 out of 13,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1915 sqft,NaN,NaN,3,0.008159

In [22]:
df1.isnull().sum()

Amount(in rupees)             0
Carpet Area               80673
Status                      615
Floor                      7077
Transaction                  83
Furnishing                 2897
facing                    70233
overlooking               81436
Society                  109678
Bathroom                    828
Balcony                   48935
Car Parking              103357
Ownership                 65517
Super Area               107685
Dimensions               187531
Plot Area                187531
Title [BHK]                 953
location_freq_encoded         0
dtype: int64

In [23]:
df1.Bathroom.unique()

array(['1', '2', '3', '4', '6', nan, '5', '10', '9', '8', '> 10', '7'],
      dtype=object)

In [24]:
df1.Bathroom.replace(['> 10','nan'],np.nan,inplace=True)

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\815378714.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.Bathroom.replace(['> 10','nan'],np.nan,inplace=True)

In [25]:
df1.Bathroom.unique()

array(['1', '2', '3', '4', '6', nan, '5', '10', '9', '8', '7'],
      dtype=object)

In [26]:
df1.Bathroom.fillna(0,inplace=True)

In [27]:
df1.Bathroom.replace(['1','2','3','4','6','5','10','9','8','7'],[1,2,3,4,6,5,10,9,8,7],inplace=True)

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\3129481920.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1.Bathroom.replace(['1','2','3','4','6','5','10','9','8','7'],[1,2,3,4,6,5,10,9,8,7],inplace=True)

In [28]:
df1.Bathroom.unique()

array([ 1,  2,  3,  4,  6,  0,  5, 10,  9,  8,  7], dtype=int64)

In [29]:
df1.Bathroom.replace([0],np.nan,inplace=True)

In [30]:
df1.Bathroom.describe()

count    186668.000000
mean          2.426640
std           0.863244
min           1.000000
25%           2.000000
50%           2.000000
75%           3.000000
max          10.000000
Name: Bathroom, dtype: float64

In [31]:
df1.Bathroom.unique()

array([ 1.,  2.,  3.,  4.,  6., nan,  5., 10.,  9.,  8.,  7.])

In [32]:
df1.Bathroom.fillna(int(df1.Bathroom.mean()),inplace=True)

In [33]:
df1.Bathroom.unique()

array([ 1.,  2.,  3.,  4.,  6.,  5., 10.,  9.,  8.,  7.])

In [34]:
bathroom_min , bathroom_max = df1.Bathroom.quantile([0.01,0.99])
bathroom_min , bathroom_max

(1.0, 5.0)

In [35]:
df1.shape

(187531, 18)

# Remove the outlier of Bathroom

In [36]:
df1['zscore_bathroom'] = (df1['Bathroom'] - df1['Bathroom'].mean()) / df1['Bathroom'].std()
Outliers_bathroom = df1[(df1.zscore_bathroom > 4)|(df1.zscore_bathroom < -4)]
Outliers_bathroom.shape

(283, 19)

In [37]:
df2 = df1[(df1.zscore_bathroom <= 4)&(df1.zscore_bathroom >= -4)]

In [38]:
df2.shape

(187248, 19)

In [39]:
df2.Bathroom.isnull().sum()

0

# Now doing for the balcony same as Bathroom

In [40]:
df2.Balcony.unique()

array(['2', nan, '1', '3', '4', '6', '5', '7', '> 10', '10', '8', '9'],
      dtype=object)

In [41]:
df2.Balcony.replace(['> 10','2','1','3','4','6','5','7','10','8','9'],[np.nan,2,1,3,4,6,5,7,10,8,9],inplace=True)
df2.Balcony.unique()

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\3421897716.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2.Balcony.replace(['> 10','2','1','3','4','6','5','7','10','8','9'],[np.nan,2,1,3,4,6,5,7,10,8,9],inplace=True)
C:\Users\patel\AppData\Local\Temp\ipykernel_17820\3421897716.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2.Balcony.replace(['> 10','2','1','3','4','6','5','7','10','8','9'],[np.nan,2,1,3,4,6,5,7,10,8,9],inplace=True)
C:\Users\patel\AppData\Local\Temp\ipykernel_17820\3421897716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.Balcony.replace(['> 10','2','1','3','4','6','5','7','10','8','9'],[np.nan,2,1,3,4,6,5,7,10,8,9],inplace=True)

array([ 2., nan,  1.,  3.,  4.,  6.,  5.,  7., 10.,  8.,  9.])

In [42]:
df2.Balcony.describe()

count    138365.00000
mean          1.99794
std           0.94739
min           1.00000
25%           1.00000
50%           2.00000
75%           3.00000
max          10.00000
Name: Balcony, dtype: float64

In [43]:
df2.Balcony.fillna((int(df2.Balcony.mean())+1),inplace=True)

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\275808852.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.Balcony.fillna((int(df2.Balcony.mean())+1),inplace=True)

In [44]:
Balcony_min , Balcony_max = df2.Balcony.quantile([0.01,0.99])
Balcony_min , Balcony_max

(1.0, 4.0)

# Remove the Balcony Outliers

In [45]:
df2['zscore_balcony'] = (df2['Balcony'] - df2['Bathroom'].mean()) / df2['Bathroom'].std()
Outliers = df2[(df2.zscore_balcony > 4)|(df2.zscore_balcony < -4)]
Outliers.shape

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\1390179293.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['zscore_balcony'] = (df2['Balcony'] - df2['Bathroom'].mean()) / df2['Bathroom'].std()

(144, 20)

In [46]:
df3 = df2[(df2.zscore_balcony <= 4)&(df2.zscore_balcony >= -4)]

In [47]:
df3.shape

(187104, 20)

In [48]:
print(df3.Bathroom.isnull().sum())
print(df3.Balcony.isnull().sum())

0
0

In [49]:
# Converting Title [BHK] to int from string

In [50]:
df3['Title [BHK]'].unique()

array(['1', '2', '3', '4', '5', nan, '8', '6', '7', '9', '10'],
      dtype=object)

In [51]:
df3['Title [BHK]'].replace(['1', '2', '3', '4', '5', '8', '6', '7', '9', '10'],[1,2,3,4,5,8,6,7,9,10],inplace=True)
df3['Title [BHK]'].unique()

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\2000538227.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3['Title [BHK]'].replace(['1', '2', '3', '4', '5', '8', '6', '7', '9', '10'],[1,2,3,4,5,8,6,7,9,10],inplace=True)
C:\Users\patel\AppData\Local\Temp\ipykernel_17820\2000538227.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3['Title [BHK]'].replace(['1', '2', '3', '4', '5', '8', '6', '7', '9', '10'],[1,2,3,4,5,8,6,7,9,10],inplace=True)
C:\Users\patel\AppData\Local\Temp\ipykernel_17820\2000538227.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Title [BHK]'].replace(['1', '2', '3', '4', '5', '8', '6', '7', '9', '10'],[1,2,3,4,5,8,6,7,9,10],inplace=True)

array([ 1.,  2.,  3.,  4.,  5., nan,  8.,  6.,  7.,  9., 10.])

In [52]:
df3['Title [BHK]'].describe()

count    186160.000000
mean          2.563327
std           0.771017
min           1.000000
25%           2.000000
50%           3.000000
75%           3.000000
max          10.000000
Name: Title [BHK], dtype: float64

In [53]:
# First Checking by the percentile

In [54]:
BHK_min , BHK_max = df3['Title [BHK]'].quantile([0.01,0.99])
BHK_min , BHK_max

(1.0, 4.0)

In [55]:
df3['Title [BHK]'].fillna(int(df3['Title [BHK]'].mean()),inplace=True)

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\2660540536.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Title [BHK]'].fillna(int(df3['Title [BHK]'].mean()),inplace=True)

In [56]:
df3['Title [BHK]'].unique()

array([ 1.,  2.,  3.,  4.,  5.,  8.,  6.,  7.,  9., 10.])

In [57]:
# Outliers = df3[(df3['Title [BHK]']<BHK_max)|(df3['Title [BHK]']>BHK_min)]
# Outliers.shape

In [58]:
df3['zscore_title'] = (df3['Title [BHK]'] - df3['Title [BHK]'].mean()) / df3['Title [BHK]'].std()
Outliers = df3[(df3.zscore_title > 4)|(df3.zscore_title < -4)]
Outliers.shape

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\3507228986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['zscore_title'] = (df3['Title [BHK]'] - df3['Title [BHK]'].mean()) / df3['Title [BHK]'].std()

(58, 21)

In [59]:
# Here by using the z-score outliers are very small

In [60]:
df4 = df3[(df3.zscore_title <= 4)&(df3.zscore_title >= -4)]
df4.shape

(187046, 21)

In [61]:
df4.columns

Index(['Amount(in rupees)', 'Carpet Area', 'Status', 'Floor', 'Transaction',
       'Furnishing', 'facing', 'overlooking', 'Society', 'Bathroom', 'Balcony',
       'Car Parking', 'Ownership', 'Super Area', 'Dimensions', 'Plot Area',
       'Title [BHK]', 'location_freq_encoded', 'zscore_bathroom',
       'zscore_balcony', 'zscore_title'],
      dtype='object')

In [62]:
df4.drop(['Status'],axis=1,inplace=True)

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\3097407049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop(['Status'],axis=1,inplace=True)

In [63]:
df4.columns

Index(['Amount(in rupees)', 'Carpet Area', 'Floor', 'Transaction',
       'Furnishing', 'facing', 'overlooking', 'Society', 'Bathroom', 'Balcony',
       'Car Parking', 'Ownership', 'Super Area', 'Dimensions', 'Plot Area',
       'Title [BHK]', 'location_freq_encoded', 'zscore_bathroom',
       'zscore_balcony', 'zscore_title'],
      dtype='object')

In [64]:
df4.dropna(subset=['Transaction'], axis=0,inplace=True)
df4.shape

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\2505200548.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.dropna(subset=['Transaction'], axis=0,inplace=True)

(186963, 20)

In [65]:
df4.facing.unique()

array([nan, 'East', 'West', 'North - East', 'North', 'North - West',
       'South', 'South -West', 'South - East'], dtype=object)

In [66]:
df4.facing.isnull().sum()

70037

In [67]:
df4.drop(['facing'],axis=1,inplace=True)

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\3142978390.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop(['facing'],axis=1,inplace=True)

In [68]:
df4.shape

(186963, 19)

In [69]:
df4.columns

Index(['Amount(in rupees)', 'Carpet Area', 'Floor', 'Transaction',
       'Furnishing', 'overlooking', 'Society', 'Bathroom', 'Balcony',
       'Car Parking', 'Ownership', 'Super Area', 'Dimensions', 'Plot Area',
       'Title [BHK]', 'location_freq_encoded', 'zscore_bathroom',
       'zscore_balcony', 'zscore_title'],
      dtype='object')

In [70]:
df4.Transaction.unique()

array(['Resale', 'New Property', 'Other', 'Rent/Lease'], dtype=object)

In [71]:
transaction = pd.get_dummies(df4['Transaction'],drop_first=True)
transaction

        Other  Rent/Lease  Resale
0       False       False    True
1       False       False    True
2       False       False    True
3       False       False    True
4       False       False    True
...       ...         ...     ...
187526  False       False   False
187527  False       False    True
187528  False       False    True
187529  False       False    True
187530  False       False    True

[186963 rows x 3 columns]

In [72]:
df4 = pd.concat([df4,transaction],axis=1)

In [73]:
df4.Furnishing.unique()

array(['Unfurnished', 'Semi-Furnished', 'Furnished', nan], dtype=object)

In [74]:
df4.Furnishing.isnull().sum()

2881

In [75]:
df4.dropna(subset=['Furnishing'],axis=0,inplace=True)
df4.shape

(184082, 22)

In [76]:
furnishing = pd.get_dummies(df4['Furnishing'],drop_first=True)
furnishing

        Semi-Furnished  Unfurnished
0                False         True
1                 True        False
2                False         True
3                False         True
4                False         True
...                ...          ...
187526            True        False
187527           False         True
187528           False        False
187529            True        False
187530            True        False

[184082 rows x 2 columns]

In [77]:
df4 = pd.concat([df4,furnishing],axis=1)

In [78]:
df4.overlooking.unique()

array([nan, 'Garden/Park', 'Garden/Park, Main Road', 'Main Road',
       'Pool, Garden/Park, Main Road', 'Garden/Park, Pool, Main Road',
       'Garden/Park, Pool', 'Main Road, Garden/Park',
       'Main Road, Garden/Park, Pool', 'Pool, Garden/Park', 'Pool',
       'Garden/Park, Main Road, Pool', 'Pool, Main Road',
       'Main Road, Pool, Garden/Park', 'Pool, Main Road, Garden/Park',
       'Main Road, Not Available', 'Main Road, Pool',
       'Garden/Park, Pool, Main Road, Not Available',
       'Garden/Park, Not Available', 'Pool, Main Road, Not Available'],
      dtype=object)

In [79]:
df4.overlooking.isnull().sum()

78406

In [80]:
df4.drop(['overlooking'],axis=1,inplace=True)

In [81]:
df4.shape

(184082, 23)

In [82]:
df4.columns

Index(['Amount(in rupees)', 'Carpet Area', 'Floor', 'Transaction',
       'Furnishing', 'Society', 'Bathroom', 'Balcony', 'Car Parking',
       'Ownership', 'Super Area', 'Dimensions', 'Plot Area', 'Title [BHK]',
       'location_freq_encoded', 'zscore_bathroom', 'zscore_balcony',
       'zscore_title', 'Other', 'Rent/Lease', 'Resale', 'Semi-Furnished',
       'Unfurnished'],
      dtype='object')

In [83]:
df4.Ownership.unique()

array([nan, 'Freehold', 'Co-operative Society', 'Power Of Attorney',
       'Leasehold'], dtype=object)

In [84]:
df4.Ownership.isnull().sum()

62535

In [85]:
df4.Ownership.replace(['Freehold', 'Co-operative Society', 'Power Of Attorney','Leasehold'],[1,2,3,4],inplace=True)

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\133691161.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4.Ownership.replace(['Freehold', 'Co-operative Society', 'Power Of Attorney','Leasehold'],[1,2,3,4],inplace=True)
C:\Users\patel\AppData\Local\Temp\ipykernel_17820\133691161.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df4.Ownership.replace(['Freehold', 'Co-operative Society', 'Power Of Attorney','Leasehold'],[1,2,3,4],inplace=True)

In [86]:
df4.Ownership.unique()

array([nan,  1.,  2.,  3.,  4.])

In [87]:
df4.Ownership.fillna(0,inplace=True)
df4.Ownership.unique()

array([0., 1., 2., 3., 4.])

# Now Lets' Do for amount in amount there is values in crore and lackhs so convert it into lackhs

In [88]:
sum(df4['Amount(in rupees)']=="Call for Price")

8809

In [89]:
amount = list(df4['Amount(in rupees)'])
# new_amount = []

for i in range (len(amount)):
    if len(amount[i].split()) <=2:
        if "Cr" in amount[i]:
            amount[i] = pd.to_numeric(amount[i].split()[0])*100
            # (amount[i]) * 100
        elif "Lac" in amount[i]:
            amount[i] = pd.to_numeric(amount[i].split()[0])
        else:
            amount[i] = np.nan
    else:
        amount[i] = np.nan

df4['Amount'] = pd.DataFrame(amount)

In [90]:
df4.Amount.head(10)

0     42.0
1     98.0
2    140.0
3     25.0
4    160.0
5     45.0
6     16.5
7     60.0
8     60.0
9    160.0
Name: Amount, dtype: float64

In [91]:
df4.Amount.isnull().sum()

12040

In [92]:
df4.Amount.describe()

count    172042.000000
mean        118.947330
std         396.977879
min           1.000000
25%          48.000000
50%          78.000000
75%         145.000000
max      140030.000000
Name: Amount, dtype: float64

In [93]:
df4.Amount.fillna(df4.Amount.mean(),inplace=True)

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\3159651066.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4.Amount.fillna(df4.Amount.mean(),inplace=True)

In [94]:
# Finding Out the Z-score

In [95]:
df4['zscore_amount'] = (df4.Amount-df4.Amount.mean())/df4.Amount.std()

In [96]:
df4.shape

(184082, 25)

In [97]:
Outlier = df4[(df4.zscore_amount<-4)|(df4.zscore_amount>4)]
Outlier.shape

(60, 25)

In [98]:
# Removing the outlier

In [99]:
df5 = df4[(df4.zscore_amount>-4)&(df4.zscore_amount<4)]

In [100]:
df5.columns

Index(['Amount(in rupees)', 'Carpet Area', 'Floor', 'Transaction',
       'Furnishing', 'Society', 'Bathroom', 'Balcony', 'Car Parking',
       'Ownership', 'Super Area', 'Dimensions', 'Plot Area', 'Title [BHK]',
       'location_freq_encoded', 'zscore_bathroom', 'zscore_balcony',
       'zscore_title', 'Other', 'Rent/Lease', 'Resale', 'Semi-Furnished',
       'Unfurnished', 'Amount', 'zscore_amount'],
      dtype='object')

In [101]:
df5['Floor'].unique()

array(['10 out of 11', '3 out of 22', '10 out of 29', '1 out of 3',
       '20 out of 42', '2 out of 7', '4 out of 5', 'Ground out of 7',
       'Ground out of 2', '3 out of 27', '6 out of 20', '16 out of 24',
       '8 out of 20', '18 out of 27', '2 out of 3', '10 out of 16',
       '5 out of 7', '20 out of 28', '3 out of 3', '3 out of 7',
       '15 out of 31', '2 out of 28', '27 out of 27', '6 out of 7',
       '5 out of 5', '3 out of 8', '11 out of 17', '9 out of 24',
       '16 out of 27', '14 out of 29', '12 out of 27', '1 out of 27',
       '2 out of 4', '16 out of 38', '3 out of 4', '2 out of 17',
       '12 out of 28', '3 out of 19', '6 out of 28', '1 out of 4',
       '7 out of 16', '2 out of 2', '1 out of 9', '7 out of 12',
       '10 out of 10', '4 out of 4', '14 out of 17', '21 out of 27',
       '5 out of 8', '7 out of 30', '6 out of 18', '14 out of 28',
       '3 out of 5', '2 out of 24', '1 out of 8', '2 out of 16',
       '7 out of 7', '4 out of 28', '4 out of 26', '1 out of 17',
       '20 out of 32', '10 out of 25', '15 out of 17', '8 out of 9',
       'Upper Basement out of 9', '8 out of 27', '8 out of 19',
       '2 out of 8', '15 out of 30', '21 out of 26', '5 out of 12',
       '3 out of 18', '5 out of 14', '1 out of 29', '5 out of 16',
       '3 out of 28', '4 out of 20', '1 out of 5', nan, '29 out of 29',
       '10 out of 12', '10 out of 30', '13 out of 26', 'Ground out of 3',
       '5 out of 28', '2 out of 5', '12 out of 12', '1 out of 6',
       'Ground out of 4', '3 out of 20', '7 out of 15', '6 out of 13',
       '2 out of 29', '4 out of 7', '1 out of 7', '20 out of 35',
       '13 out of 31', '3 out of 23', '19 out of 19', '11 out of 18',
       '18 out of 30', '10 out of 20', '2 out of 19', '16 out of 23',
       '3 out of 30', '8 out of 8', '17 out of 27', '5 out of 6',
       '11 out of 26', '12 out of 30', '4 out of 6', '1 out of 1',
       '10 out of 14', '14 out of 32', '15 out of 32', '6 out of 29',
       '1 out of 20', '28 out of 32', '6 out of 8', '12 out of 21',
       '14 out of 22', '30 out of 36', '23 out of 32', '25 out of 30',
       '12 out of 22', '26 out of 27', '9 out of 19', '4 out of 24',
       '7 out of 8', '4 out of 8', '19 out of 30', '12 out of 19',
       '10 out of 31', '3 out of 6', '24 out of 32', '21 out of 28',
       '16 out of 22', '19 out of 24', '7 out of 19', 'Ground out of 5',
       '14 out of 23', '4 out of 30', '1 out of 14', '7 out of 13',
       '23 out of 35', '17 out of 18', '2 out of 21', '7 out of 31',
       '10 out of 18', '20 out of 26', '14 out of 19', '9 out of 16',
       '12 out of 18', '6 out of 21', '8 out of 16', '18 out of 20',
       '6 out of 40', '5 out of 11', '12 out of 24', '6 out of 16',
       '1 out of 19', '8 out of 12', '10 out of 28', '19 out of 23',
       '5 out of 17', '16 out of 17', '17 out of 17', '1 out of 2',
       '17 out of 32', '15 out of 15', '7 out of 18', '19 out of 36',
       '13 out of 27', '21 out of 32', '8 out of 18', '29 out of 30',
       '16 out of 28', '22 out of 29', '23 out of 24', '4 out of 12',
       '11 out of 32', '21 out of 24', '16 out of 30', '26 out of 30',
       '25 out of 36', '7 out of 26', '9 out of 29', '11 out of 29',
       '8 out of 15', '12 out of 25', '16 out of 32', '2 out of 6',
       '5 out of 18', '5 out of 13', '14 out of 30', '4 out of 18',
       '7 out of 14', '9 out of 10', '14 out of 27', '9 out of 12',
       '10 out of 19', '4 out of 23', '16 out of 16', '14 out of 26',
       '9 out of 17', '8 out of 23', '4 out of 17', 'Ground out of 1',
       '5 out of 21', '19 out of 20', '4 out of 10', '6 out of 15',
       '20 out of 29', '6 out of 30', '7 out of 9', '4 out of 16',
       '21 out of 45', '16 out of 19', '6 out of 12', '19 out of 26',
       '22 out of 25', '2 out of 10', '6 out of 27', '15 out of 27',
       '16 out of 26', '13 out of 20', '9 out of 22', '9 out of 18',
       '3 out of 11', '6 out of 10', '4 out of 15', '3 out of 12',
       '18 out of 23', '3 out of 13', '10 out of 13', '2 out of 12',
       '18 out of 28', '2 out of 15', '1 out of 26', 'Ground out of 6',
       '17 out of 30', '25 out of 27', '8 out of 30', '15 out of 18',
       '7 out of 11', '11 out of 28', '5 out of 9', '20 out of 36',
       '5 out of 27', '7 out of 22', '5 out of 19', '6 out of 22',
       '4 out of 22', '1 out of 13', '9 out of 15', '15 out of 20',
       '13 out of 30', '12 out of 23', '28 out of 30', '10 out of 22',
       '24 out of 26', '25 out of 32', '16 out of 18', '9 out of 20',
       '10 out of 27', '15 out of 16', '9 out of 14', '23 out of 27',
       '27 out of 36', '17 out of 25', '23 out of 28', '12 out of 31',
       '32 out of 36', '25 out of 29', '12 out of 33', '1 out of 12',
       '10 out of 26', '3 out of 16', '17 out of 19', '2 out of 27',
       '13 out of 42', '27 out of 31', '2 out of 14', '7 out of 17',
       '11 out of 25', '15 out of 28', '13 out of 16', '1 out of 30',
       '13 out of 32', '5 out of 30', '5 out of 33', '17 out of 29',
       '11 out of 24', '13 out of 24', '18 out of 24', '13 out of 25',
       '2 out of 9', 'Ground out of 28', '9 out of 11', '1 out of 16',
       '8 out of 25', '14 out of 20', '5 out of 22', '2 out of 20',
       '10 out of 24', '8 out of 28', '10 out of 36', '2 out of 11',
       '22 out of 33', '8 out of 17', '2 out of 18', '13 out of 14',
       '3 out of 31', '30 out of 32', '11 out of 19', '19 out of 31',
       '4 out of 36', '13 out of 34', '6 out of 37', '11 out of 27',
       '8 out of 36', '1 out of 28', '11 out of 36', '3 out of 15',
       '6 out of 14', '6 out of 17', '22 out of 24', '9 out of 23',
       '8 out of 11', '12 out of 29', '4 out of 27', '2 out of 23',
       '9 out of 21', '8 out of 14', '11 out of 20', '21 out of 23',
       '15 out of 19', 'Ground out of 8', '22 out of 30', '25 out of 28',
       '20 out of 30', '19 out of 28', '16 out of 21', '30 out of 34',
       '24 out of 28', '2 out of 31', '12 out of 13', '24 out of 25',
       '2 out of 22', '26 out of 28', '27 out of 28', '8 out of 26',
       '16 out of 29', '16 out of 20', '17 out of 20', '13 out of 13',
       'Ground out of 14', '12 out of 14', '5 out of 15', '9 out of 38',
       '18 out of 38', '33 out of 36', '15 out of 23', '11 out of 22',
       '6 out of 6', '7 out of 33', '20 out of 39', '4 out of 13',
       '9 out of 13', '9 out of 25', '1 out of 15', '5 out of 23',
       '9 out of 26', '9 out of 34', '5 out of 34', '20 out of 38',
       '7 out of 34', '10 out of 34', 'Lower Basement out of 7',
       '10 out of 15', '11 out of 16', '8 out of 13', '11 out of 14',
       '14 out of 15', '3 out of 21', '24 out of 29', '13 out of 17',
       '14 out of 14', '2 out of 40', '18 out of 26', '17 out of 21',
       '3 out of 25', '20 out of 31', 'Upper Basement out of 7',
       '15 out of 22', '20 out of 27', '1 out of 18', '9 out of 9',
       'Upper Basement out of 4', '22 out of 27', '25 out of 34',
       '11 out of 13', '10 out of 17', '19 out of 32', '9 out of 28',
       'Upper Basement out of 8', '2 out of 13', '11 out of 15',
       '21 out of 31', '14 out of 31', '4 out of 9', '5 out of 10',
       '1 out of 10', '7 out of 10', '13 out of 15', '1 out of 88',
       '4 out of 11', '20 out of 21', '23 out of 30', '18 out of 29',
       '8 out of 55', '10 out of 32', '3 out of 45', '9 out of 45',
       '5 out of 41', '40 out of 51', '7 out of 27', '8 out of 22',
       '1 out of 23', '7 out of 21', '35 out of 44', '12 out of 20',
       '20 out of 40', '24 out of 33', '4 out of 19', '10 out of 23',
       '8 out of 10', '14 out of 24', '40 out of 60', '20 out of 20',
       '20 out of 22', '4 out of 21', '40 out of 54', '5 out of 20',
       '13 out of 36', '18 out of 18', '21 out of 36', '9 out of 27',
       '28 out of 60', '28 out of 31', '19 out of 27', '6 out of 9',
       '26 out of 35', '17 out of 58', '10 out of 21', '12 out of 15',
       'Ground out of 12', '22 out of 40', '14 out of 21', '21 out of 25',
       '15 out of 36', '23 out of 40', '12 out of 16', '20 out of 23',
       'Upper Basement out of 10', '23 out of 68', '25 out of 41',
       '11 out of 21', '12 out of 40', '20 out of 56', '42 out of 60',
       '17 out of 60', '38 out of 67', '21 out of 30', '34 out of 91',
       '7 out of 32', '17 out of 52', '6 out of 26', '17 out of 45',
       '18 out of 21', '19 out of 42', '31 out of 38', '27 out of 47',
       '17 out of 24', '19 out of 22', '21 out of 21', '11 out of 40',
       '20 out of 48', '14 out of 18', '19 out of 21', '16 out of 36',
       '18 out of 39', '37 out of 38', '25 out of 37', '11 out of 60',
       '23 out of 34', '5 out of 55', '20 out of 60', '8 out of 21',
       '18 out of 22', '18 out of 41', '13 out of 22', '33 out of 40',
       '18 out of 34', '34 out of 36', '26 out of 36', '60 out of 78',
       '21 out of 37', '7 out of 20', '4 out of 14', '3 out of 43',
       '39 out of 42', '29 out of 38', '9 out of 30', '15 out of 40',
       '17 out of 37', 'Upper Basement out of 22', '12 out of 35',
       '11 out of 23', '14 out of 35', '29 out of 36', '15 out of 21',
       '7 out of 54', '14 out of 39', '15 out of 45', '44 out of 91',
       '3 out of 10', '32 out of 42', '16 out of 44', '34 out of 53',
       '16 out of 40', '30 out of 37', '35 out of 77', '21 out of 22',
       '3 out of 14', '25 out of 45', '18 out of 35', '29 out of 34',
       '40 out of 40', '27 out of 54', '5 out of 29', '32 out of 44',
       '38 out of 91', '2 out of 25', '16 out of 43', '30 out of 43',
       '34 out of 43', '35 out of 43', '12 out of 43', '7 out of 25',
       '11 out of 30', '28 out of 56', '19 out of 35', '25 out of 40',
       '18 out of 42', '6 out of 34', '3 out of 9', '16 out of 41',
       '11 out of 38', '15 out of 38', '15 out of 35', '13 out of 23',
       '22 out of 22', '28 out of 50', '17 out of 22', '24 out of 52',
       '5 out of 35', 'Upper Basement out of 15', '22 out of 35',
       '13 out of 54', '6 out of 25', '36 out of 54', '21 out of 39',
       '20 out of 25', '59 out of 75', '11 out of 12', '21 out of 29',
       '45 out of 76', '11 out of 51', '12 out of 55', '16 out of 63',
       '23 out of 41', '13 out of 41', '24 out of 39', '16 out of 39',
       '12 out of 52', '51 out of 78', '13 out of 28', '30 out of 44',
       '12 out of 17', '21 out of 38', '4 out of 40', '32 out of 61',
       '4 out of 32', '30 out of 40', '28 out of 42', '32 out of 68',
       '8 out of 53', '9 out of 60', '18 out of 25',
       'Lower Basement out of 12', '11 out of 11',
       'Lower Basement out of 8', '1 out of 11', 'Ground out of 10',
       'Lower Basement out of 14', 'Upper Basement out of 14',
       'Lower Basement out of 3', '6 out of 11',
       'Lower Basement out of 13', 'Lower Basement out of 5',
       '19 out of 25', '3 out of 17', 'Lower Basement out of 11',
       'Ground out of 13', '7 out of 23', 'Upper Basement out of 3',
       '13 out of 18', 'Ground', '3 out of 60', '6 out of 23',
       'Ground out of 11', 'Upper Basement out of 5', '12 out of 32',
       '20 out of 24', '31 out of 31', '19 out of 40', '23 out of 23',
       '25 out of 26', '27 out of 32', 'Ground out of 9', '18 out of 19',
       'Ground out of 20', '12 out of 37', '6 out of 19', '8 out of 24',
       '9 out of 32', '14 out of 37', '27 out of 30', '1 out of 33',
       'Ground out of 15', '15 out of 37', '25 out of 31', '13 out of 21',
       'Ground out of 21', '5 out of 25', '18 out of 32', '17 out of 26',
       'Lower Basement out of 4', '27 out of 34', '24 out of 30',
       '1 out of 21', '9 out of 40', '4', '11 out of 34', '2 out of 50',
       '19 out of 29', '29 out of 32', '21 out of 40', 'Ground out of 19',
       'Upper Basement out of 16', '5 out of 32', '1 out of 31',
       '2 out of 30', '2 out of 32', '22 out of 32', '29 out of 35',
       '13 out of 19', '16 out of 25', '17 out of 23', '4 out of 29',
       '1 out of 22', 'Ground out of 18', '5 out of 31', '30 out of 31',
       'Upper Basement out of 18', 'Ground out of 40',
       'Upper Basement out of 12', '14 out of 16', '1 out of 25',
       'Ground out of 32', '25 out of 25', '15 out of 34', '15 out of 24',
       '22 out of 23', '17 out of 31', '31 out of 32', 'Ground out of 16',
       '24 out of 27', '9 out of 35', '22 out of 26', '22 out of 34',
       '3 out of 26', '10 out of 33', '30 out of 33', '25 out of 44',
       '5 out of 26', '8 out of 29', '24 out of 38', '24 out of 40',
       '32 out of 32', '7 out of 28', '29 out of 45',
       'Upper Basement out of 11', '31 out of 35', '1', '16 out of 45',
       'Upper Basement out of 6', 'Upper Basement out of 2',
       'Ground out of 17', '26 out of 29', '26 out of 45',
       'Lower Basement out of 2', '10 out of 35', '35 out of 35',
       '27 out of 29', '12 out of 36', '3 out of 42', '3', '22 out of 28',
       'Upper Basement out of 1', '28 out of 40', '10 out of 40',
       'Lower Basement out of 29', '29 out of 51', '11 out of 33',
       '3 out of 24', '12 out of 34', '4 out of 38', '15 out of 51',
       '2 out of 26', '10 out of 42', '8 out of 38', '16 out of 35',
       '12 out of 26', '30 out of 30', '4 out of 42', '23 out of 25',
       '20 out of 43', '4 out of 25', '20 out of 33', '17 out of 51',
       '6 out of 32', '18 out of 33', '3 out of 32', '10 out of 38',
       '4 out of 41', '14 out of 43', 'Ground out of 30', '8 out of 31',
       '20 out of 34', '14 out of 25', '30 out of 35', '23 out of 36',
       '14 out of 34', '17 out of 33', '24 out of 24',
       'Lower Basement out of 10', '34 out of 42', '6 out of 42',
       '7 out of 40', '2 out of 38', '23 out of 33', '19 out of 33',
       '8 out of 32', '4 out of 34', '13 out of 35', '25 out of 42',
       '4 out of 39', '16 out of 31', '35 out of 42', '7 out of 24',
       '8 out of 42', '20 out of 44', '14 out of 36', '9 out of 42',
       '27 out of 38', '1 out of 40', '32 out of 35', '22 out of 37',
       '9 out of 33', '18 out of 44', 'Lower Basement out of 9',
       '7 out of 29', '15 out of 25', '5 out of 38', '17 out of 35',
       '14 out of 38', '22 out of 31', '26 out of 40', '6 out of 31',
       '23 out of 38', '28 out of 53', '10 out of 39', '4 out of 37',
       '26 out of 31', '11 out of 31', 'Lower Basement out of 16',
       '25 out of 35', '7 out of 50', '15 out of 29', '14 out of 40',
       '11 out of 35', 'Upper Basement out of 29', '5 out of 40',
       '5 out of 24', '30 out of 51', '22 out of 36', '19 out of 34',
       '29 out of 33', '24 out of 35', 'Ground out of 24', '19 out of 52',
       '6 out of 24', '14 out of 42', '4 out of 35', '17 out of 34',
       '39 out of 39', '18 out of 40', '21 out of 35', '15 out of 26',
       'Upper Basement out of 20', '26 out of 33', '21 out of 34',
       'Upper Basement out of 17', '26 out of 38', '13 out of 40',
       'Lower Basement out of 1', '31 out of 33', '6 out of 35',
       'Lower Basement out of 20', 'Lower Basement out of 50',
       '38 out of 40', '1 out of 24', 'Ground out of 27', '16 out of 34',
       'Ground out of 31', '3 out of 1', '34 out of 34',
       'Upper Basement out of 23', '7 out of 35', '3 out of 2',
       '6 out of 2', '17 out of 36', '2 out of 35', '33 out of 35',
       '10 out of 45', '32 out of 34', '6 out of 36', '23 out of 45',
       '3 out of 40', '14 out of 33', '37 out of 46', '27 out of 35',
       '28 out of 33', '27 out of 33', '45 out of 45', '42 out of 45',
       '5 out of 44', '20 out of 41', '20 out of 45', '11 out of 45',
       '8 out of 35', 'Ground out of 33', '42 out of 43', '32 out of 45',
       '2', '25 out of 46', '15 out of 42', '38 out of 41',
       '18 out of 45', '26 out of 34', '7 out of 37', '18 out of 36',
       '21 out of 43', '28 out of 36', 'Ground out of 25', '4 out of 2',
       '31 out of 41', 'Ground out of 26', '17 out of 28', '18 out of 31',
       '33 out of 72', '29 out of 44', '9 out of 39', 'Ground out of 22',
       '1 out of 35', '7 out of 76', '11 out of 84', 'Ground out of 23',
       '33 out of 44', '24 out of 31', '15 out of 33', '6 out of 45',
       '32 out of 33', 'Lower Basement out of 23', 'Ground out of 29',
       'Lower Basement out of 6', '6', 'Upper Basement out of 13',
       '38 out of 38', '1 out of 150', '3 out of 36', '26 out of 43',
       '7 out of 56', '13', '26 out of 26', '1 out of 34', '28 out of 39',
       '28 out of 28', '4 out of 3', '24 out of 36', '28 out of 29',
       '2 out of 67', '3 out of 29', '26 out of 32', '12', '23 out of 26',
       'Upper Basement out of 21', '20', '23 out of 29', '25 out of 39',
       '1 out of 32', 'Lower Basement out of 18', '5',
       'Upper Basement out of 24', '200 out of 200', '33 out of 43',
       '35 out of 37', 'Lower Basement out of 15', '2 out of 36',
       '5 out of 50', '7 out of 70'], dtype=object)

In [102]:
df5.Floor.describe()

count         177697
unique           932
top       2 out of 4
freq           12334
Name: Floor, dtype: object

In [103]:
floor = list(df5['Floor'])
new_floor = []

for i in range (len(floor)):
    if isinstance(floor[i],str):
        if len(floor[i].split()) >=2 :
            if "Upper" in floor[i]:
                new_floor.append(np.nan)
            elif "Lower" in floor[i]:
                new_floor.append(np.nan)
            elif "Ground" in floor[i]:
                new_floor.append(0)
            else:
                new_floor.append(pd.to_numeric(floor[i].split()[0]))
        else:
            new_floor.append(0)
    else:   
        new_floor.append(np.nan)
        
pd.to_numeric(new_floor)    
df5['Floor_number'] = pd.DataFrame(new_floor)

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\441087942.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['Floor_number'] = pd.DataFrame(new_floor)

In [104]:
df5.Floor_number.head(10)

0    10.0
1     3.0
2    10.0
3     1.0
4    20.0
5     2.0
6     4.0
7     0.0
8     0.0
9     3.0
Name: Floor_number, dtype: float64

In [105]:
df5.Floor_number.isnull().sum()

9963

In [106]:
df5.Floor_number.describe()

count    174059.000000
mean          4.456196
std           4.616142
min           0.000000
25%           2.000000
50%           3.000000
75%           6.000000
max         200.000000
Name: Floor_number, dtype: float64

In [107]:
df5.Floor_number.fillna(df5.Floor_number.mean(),inplace=True)

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\4160662212.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df5.Floor_number.fillna(df5.Floor_number.mean(),inplace=True)
C:\Users\patel\AppData\Local\Temp\ipykernel_17820\4160662212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5.Floor_number.fillna(df5.Floor_number.mean(),inplace=True)

In [108]:
df5.Floor_number.isnull().sum()

0

In [109]:
df5['zscore_floor'] = (df5.Floor_number - df5.Floor_number.mean()) / df5.Floor_number.std()

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\3336062715.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['zscore_floor'] = (df5.Floor_number - df5.Floor_number.mean()) / df5.Floor_number.std()

In [110]:
Outliers = df5[(df5.zscore_floor>4)|(df5.zscore_floor<-4)]
Outliers.shape

(1284, 27)

In [111]:
df6 = df5[(df5.zscore_floor>=-4)&(df5.zscore_floor<=4)]
df6.shape

(182738, 27)

In [112]:
df6.drop(['Society'],axis=1,inplace=True)

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\1767528180.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6.drop(['Society'],axis=1,inplace=True)

In [113]:
df6.shape

(182738, 26)

In [114]:
df6['Car Parking'].isnull().sum()

99488

In [115]:
df6.drop(['Car Parking'],axis=1,inplace=True)

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\588827575.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6.drop(['Car Parking'],axis=1,inplace=True)

In [116]:
df6.shape

(182738, 25)

In [117]:
df6['Super Area'].isnull().sum()

105927

In [118]:
df6.drop(['Super Area'],axis=1,inplace=True)

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\1730187119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6.drop(['Super Area'],axis=1,inplace=True)

In [119]:
df6.shape

(182738, 24)

In [120]:
print(df6['Carpet Area'].unique())

['500 sqft' '473 sqft' '779 sqft' ... '1634 sqft' '164 sqyrd' '136 sqft']

In [121]:
carpet_area = list(df6['Carpet Area'])
new_carpet_area = []

for i in range (len(carpet_area)):
    if isinstance(carpet_area[i],str):
        if len(carpet_area[i].split()) <= 2:
            if "sqyrd" in carpet_area[i]:
                new_carpet_area.append(pd.to_numeric(carpet_area[i].split()[0])*9)
            else:
                new_carpet_area.append(pd.to_numeric(carpet_area[i].split()[0]))
        else:
            new_carpet_area.append(np.nan)
    else:
            new_carpet_area.append(np.nan)
df6['Carpet_area(sqft)'] = pd.DataFrame(new_carpet_area)

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\915233473.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['Carpet_area(sqft)'] = pd.DataFrame(new_carpet_area)

In [122]:
df6['Carpet_area(sqft)'].describe()

count    103343.000000
mean       1241.276294
std        2543.133883
min           1.000000
25%         787.000000
50%        1060.000000
75%        1500.000000
max      709222.000000
Name: Carpet_area(sqft), dtype: float64

In [123]:
df6['Carpet_area(sqft)'].isnull().sum()

79395

In [124]:
df6.dropna(subset = ['Carpet_area(sqft)'],axis=0,inplace=True)

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\1226629162.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6.dropna(subset = ['Carpet_area(sqft)'],axis=0,inplace=True)

In [125]:
df6.shape

(103343, 25)

In [126]:
df6['Carpet_area(sqft)'].isnull().sum()

0

In [127]:
df6['Carpet_area(sqft)'].describe()

count    103343.000000
mean       1241.276294
std        2543.133883
min           1.000000
25%         787.000000
50%        1060.000000
75%        1500.000000
max      709222.000000
Name: Carpet_area(sqft), dtype: float64

In [128]:
df6['zscore_carpetarea'] = (df6['Carpet_area(sqft)'] -  df6['Carpet_area(sqft)'].mean()) /  df6['Carpet_area(sqft)'] .std()

C:\Users\patel\AppData\Local\Temp\ipykernel_17820\2098192114.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['zscore_carpetarea'] = (df6['Carpet_area(sqft)'] -  df6['Carpet_area(sqft)'].mean()) /  df6['Carpet_area(sqft)'] .std()

In [129]:
Outlier = df6[(df6.zscore_carpetarea >4)|(df6.zscore_carpetarea <-4)]
Outlier.shape

(43, 26)

In [130]:
df7 = df6[(df6.zscore_carpetarea >= -4)|(df6.zscore_carpetarea <= 4)]
df7.shape

(103343, 26)

In [131]:
df7.columns

Index(['Amount(in rupees)', 'Carpet Area', 'Floor', 'Transaction',
       'Furnishing', 'Bathroom', 'Balcony', 'Ownership', 'Dimensions',
       'Plot Area', 'Title [BHK]', 'location_freq_encoded', 'zscore_bathroom',
       'zscore_balcony', 'zscore_title', 'Other', 'Rent/Lease', 'Resale',
       'Semi-Furnished', 'Unfurnished', 'Amount', 'zscore_amount',
       'Floor_number', 'zscore_floor', 'Carpet_area(sqft)',
       'zscore_carpetarea'],
      dtype='object')

In [132]:
df7.drop(['Amount(in rupees)','Carpet Area','Floor','Transaction','Furnishing'],axis=1,inplace=True)

In [133]:
df7.columns

Index(['Bathroom', 'Balcony', 'Ownership', 'Dimensions', 'Plot Area',
       'Title [BHK]', 'location_freq_encoded', 'zscore_bathroom',
       'zscore_balcony', 'zscore_title', 'Other', 'Rent/Lease', 'Resale',
       'Semi-Furnished', 'Unfurnished', 'Amount', 'zscore_amount',
       'Floor_number', 'zscore_floor', 'Carpet_area(sqft)',
       'zscore_carpetarea'],
      dtype='object')

In [134]:
df7.shape

(103343, 21)

In [135]:
# df7 = pd.concat([df6,'transaction','furnishing'],axis=1)
# df7.shape

In [136]:
df7.columns

Index(['Bathroom', 'Balcony', 'Ownership', 'Dimensions', 'Plot Area',
       'Title [BHK]', 'location_freq_encoded', 'zscore_bathroom',
       'zscore_balcony', 'zscore_title', 'Other', 'Rent/Lease', 'Resale',
       'Semi-Furnished', 'Unfurnished', 'Amount', 'zscore_amount',
       'Floor_number', 'zscore_floor', 'Carpet_area(sqft)',
       'zscore_carpetarea'],
      dtype='object')

In [137]:
X = df7.drop(['Amount','zscore_amount','zscore_floor','zscore_carpetarea','zscore_bathroom', 'zscore_balcony',
       'zscore_title',],axis=1)
X.columns

Index(['Bathroom', 'Balcony', 'Ownership', 'Dimensions', 'Plot Area',
       'Title [BHK]', 'location_freq_encoded', 'Other', 'Rent/Lease', 'Resale',
       'Semi-Furnished', 'Unfurnished', 'Floor_number', 'Carpet_area(sqft)'],
      dtype='object')

In [138]:
df7.isnull().sum()

Bathroom                      0
Balcony                       0
Ownership                     0
Dimensions               103343
Plot Area                103343
Title [BHK]                   0
location_freq_encoded         0
zscore_bathroom               0
zscore_balcony                0
zscore_title                  0
Other                         0
Rent/Lease                    0
Resale                        0
Semi-Furnished                0
Unfurnished                   0
Amount                        0
zscore_amount                 0
Floor_number                  0
zscore_floor                  0
Carpet_area(sqft)             0
zscore_carpetarea             0
dtype: int64

In [139]:
y = df7.Amount

In [140]:
X

,Bathroom,Balcony,Ownership,Dimensions,Plot Area,Title [BHK],location_freq_encoded,Other,Rent/Lease,Resale,Semi-Furnished,Unfurnished,Floor_number,Carpet_area(sqft)
0,1.0,2.0,0.0,NaN,NaN,1.0,0.010308,False,False,True,False,True,10.0,500.0
1,2.0,2.0,1.0,NaN,NaN,2.0,0.010308,False,False,True,True,False,3.0,473.0
2,2.0,2.0,1.0,NaN,NaN,2.0,0.010308,False,False,True,False,True,10.0,779.0
3,1.0,1.0,0.0,NaN,NaN,1.0,0.010308,False,False,True,False,True,1.0,530.0
4,2.0,2.0,2.0,NaN,NaN,2.0,0.010308,False,False,True,False,True,20.0,635.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182729,2.0,1.0,0.0,NaN,NaN,1.0,0.012734,False,False,True,False,True,5.0,1200.0
182730,4.0,1.0,0.0,NaN,NaN,3.0,0.012734,False,False,True,True,False,14.0,1705.0
182731,1.0,2.0,0.0,NaN,NaN,1.0,0.012734,False,False,True,False,False,4.0,895.0
182732,1.0,1.0,0.0,NaN,NaN,1.0,0.012734,False,False,True,True,False,2.0,1050.0
182735,3.0,2.0,1.0,NaN,NaN,3.0,0.012734,False,False,True,False,True,4.0,1250.0

In [143]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [144]:
model = LinearRegression()
random_model = RandomForestRegressor()

In [145]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [146]:
X_train.isnull().sum()

Bathroom                     0
Balcony                      0
Ownership                    0
Dimensions               72340
Plot Area                72340
Title [BHK]                  0
location_freq_encoded        0
Other                        0
Rent/Lease                   0
Resale                       0
Semi-Furnished               0
Unfurnished                  0
Floor_number                 0
Carpet_area(sqft)            0
dtype: int64

In [147]:
X_train = X_train.drop(['Dimensions','Plot Area'],axis=1)
X_train

,Bathroom,Balcony,Ownership,Title [BHK],location_freq_encoded,Other,Rent/Lease,Resale,Semi-Furnished,Unfurnished,Floor_number,Carpet_area(sqft)
89002,3.0,3.0,1.0,3.0,0.045273,False,False,True,True,False,3.0,870.0
127996,3.0,1.0,1.0,3.0,0.147170,False,False,True,False,True,8.0,63.0
62360,3.0,2.0,0.0,3.0,0.107022,False,False,False,False,True,4.0,1300.0
90011,2.0,2.0,1.0,2.0,0.045273,False,False,False,False,True,2.0,725.0
102239,2.0,2.0,0.0,2.0,0.119340,False,False,True,False,True,2.0,890.0
...,...,...,...,...,...,...,...,...,...,...,...,...
35461,3.0,3.0,1.0,3.0,0.128139,False,False,True,True,False,2.0,1000.0
58378,3.0,2.0,1.0,3.0,0.107022,False,False,True,True,False,3.0,1296.0
34884,2.0,2.0,0.0,2.0,0.128139,False,False,True,True,False,1.0,880.0
141794,2.0,2.0,1.0,3.0,0.147170,False,False,True,True,False,10.0,504.0
145476,5.0,2.0,1.0,4.0,0.011865,False,False,True,False,True,4.0,540.0

In [148]:
model.fit(X_train,y_train)

LinearRegression()

In [149]:
random_model.fit(X_train,y_train)

RandomForestRegressor()

In [150]:
model.score(X_train,y_train)

0.03428923751071167

In [151]:
random_model.score(X_train,y_train)

0.9163833528844049

In [152]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(RandomForestRegressor(),X,y,cv=5)
scores

array([-0.66659542, -0.07388511, -0.04854665, -0.99951001, -3.34927212])

In [153]:
np.average(scores)

-1.027561863401895

In [154]:
from sklearn.ensemble import ExtraTreesRegressor
selection = ExtraTreesRegressor()
selection.fit(X,y)

print(selection.feature_importances_)

ValueError: Input X contains NaN.
ExtraTreesRegressor does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
kmm = KMeans()

In [ ]:
kmm.fit(X_train,y_train)

In [ ]:
kmm.score(X_test,y_test)

In [ ]:
# Plot a graph for better visualization

plt.figure(figsize=(12,8))
feat_importance = pd.Series(selection.feature_importances_,index=X.columns)
feat_importance.nlargest(25).plot(kind='barh')
plt.show()

In [ ]:
selection.fit(X_train,y_train)

In [ ]:
selection.score(X_test,y_test)

In [ ]:
print(random_model.score(X_train,y_train))
print(random_model.score(X_test,y_test))

In [ ]:
df7

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
plt.scatter(y_pred,y_test)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
plt.scatter(y_pred,y_test)

In [ ]:
df7.Balcony.unique()

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
X_scale = scaler.fit_transform(X)
X_scale

In [ ]:
y = y.values.reshape(-1,1)
Y_scale = scaler.fit_transform(y)

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X_scale,Y_scale,test_size=0.2)

In [ ]:
model3 = LinearRegression()
model3.fit(X_train,y_train)

In [ ]:
model3.score(X_test,y_test)

In [ ]:
min(df7['Carpet_area(sqft)'])

In [ ]:
 y_log_price = np.log(df7.Amount)

In [ ]:
min(y_log_price)

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X_scale,y_log_price,test_size=0.2)

In [ ]:
model4 = RandomForestRegressor()

In [ ]:
model4.fit(X_train,y_train)

In [ ]:
model4.score(X_test,y_test)